.rte-cb-bg {
	BACKGROUND-IMAGE: url(rte-cb-top-bg.gif); BORDER-BOTTOM: #555 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #e5e6f1; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: repeat-x; LETTER-SPACING: 0px; HEIGHT: 11px; PADDING-TOP: 0px
}
.rte-option-panel {
	BORDER-BOTTOM: #c5c5c5 1px solid; BORDER-LEFT: #c5c5c5 1px solid; BACKGROUND-COLOR: #dadada; LETTER-SPACING: 0px; BORDER-TOP: #c5c5c5 1px solid; BORDER-RIGHT: #c5c5c5 1px solid
}
.rte-buttonbar {
	BORDER-BOTTOM: #c5c5c5 1px solid; BORDER-LEFT: #c5c5c5 1px solid; BACKGROUND-COLOR: #dadada; LETTER-SPACING: 0px; BORDER-TOP: #c5c5c5 1px solid; BORDER-RIGHT: #c5c5c5 1px solid
}
.rte-option-panel {
	TEXT-ALIGN: center; DISPLAY: none; MARGIN-BOTTOM: 5px; FLOAT: left
}
.rte-option-emo-box {
	BORDER-BOTTOM: #b1b1b1 1px solid; BORDER-LEFT: #b1b1b1 1px solid; BACKGROUND-COLOR: #f2f2f2; MARGIN: 10px auto; BORDER-TOP: #b1b1b1 1px solid; BORDER-RIGHT: #b1b1b1 1px solid
}
.rte-buttonbar TBODY TR TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.rte-buttonbar TR TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.rteBack TBODY TR TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.rteBack TR TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	FLOAT: none
}
DIV {
	FLOAT: none
}
.rte-iframe {
	BORDER-BOTTOM: #777 2px inset; BORDER-LEFT: #777 2px inset; BACKGROUND-COLOR: #fff; MARGIN-TOP: 4px; BORDER-TOP: #777 2px inset; BORDER-RIGHT: #777 2px inset
}
.rte-menu-button {
	BORDER-BOTTOM: #717171 1px solid; BORDER-LEFT: #717171 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 4px; WIDTH: auto; PADDING-RIGHT: 1px; FONT-SIZE: 11px; OVERFLOW: hidden; BORDER-TOP: #717171 1px solid; BORDER-RIGHT: #717171 1px solid; PADDING-TOP: 2px; -moz-border-radius: 3px
}
.rte-selected-menubutton {
	BORDER-BOTTOM: #717171 1px solid; BORDER-LEFT: #717171 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 4px; WIDTH: auto; PADDING-RIGHT: 1px; FONT-SIZE: 11px; OVERFLOW: hidden; BORDER-TOP: #717171 1px solid; BORDER-RIGHT: #717171 1px solid; PADDING-TOP: 2px; -moz-border-radius: 3px
}
.rte-hover-menubutton {
	BORDER-BOTTOM: #717171 1px solid; BORDER-LEFT: #717171 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 4px; WIDTH: auto; PADDING-RIGHT: 1px; FONT-SIZE: 11px; OVERFLOW: hidden; BORDER-TOP: #717171 1px solid; BORDER-RIGHT: #717171 1px solid; PADDING-TOP: 2px; -moz-border-radius: 3px
}
.rte-normal-menubutton {
	BORDER-BOTTOM: #717171 1px solid; BORDER-LEFT: #717171 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 4px; WIDTH: auto; PADDING-RIGHT: 1px; FONT-SIZE: 11px; OVERFLOW: hidden; BORDER-TOP: #717171 1px solid; BORDER-RIGHT: #717171 1px solid; PADDING-TOP: 2px; -moz-border-radius: 3px
}
.rte-selected-menubutton {
	BORDER-BOTTOM: #2d2d2d 1px solid; BORDER-LEFT: #2d2d2d 1px solid; BACKGROUND-COLOR: #ffffff; BORDER-TOP: #2d2d2d 1px solid; BORDER-RIGHT: #2d2d2d 1px solid
}
.rte-hover-menubutton {
	BORDER-BOTTOM: #2d2d2d 1px solid; BORDER-LEFT: #2d2d2d 1px solid; BACKGROUND-COLOR: #ffffff; BORDER-TOP: #2d2d2d 1px solid; BORDER-RIGHT: #2d2d2d 1px solid
}
.rte-menu-face {
	BORDER-BOTTOM: #999 1px dotted; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #f2f2f2; PADDING-LEFT: 1px; WIDTH: 100%; PADDING-RIGHT: 1px; CLEAR: all; CURSOR: hand; PADDING-TOP: 1px
}
.rte-menu-size {
	BORDER-BOTTOM: #999 1px dotted; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #f2f2f2; PADDING-LEFT: 1px; WIDTH: 100%; PADDING-RIGHT: 1px; CLEAR: all; CURSOR: hand; PADDING-TOP: 1px
}
.rte-selected-menu {
	BORDER-BOTTOM: #999 1px dotted; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #f2f2f2; PADDING-LEFT: 1px; WIDTH: 100%; PADDING-RIGHT: 1px; CLEAR: all; CURSOR: hand; PADDING-TOP: 1px
}
.rte-hover-menu {
	BORDER-BOTTOM: #999 1px dotted; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #f2f2f2; PADDING-LEFT: 1px; WIDTH: 100%; PADDING-RIGHT: 1px; CLEAR: all; CURSOR: hand; PADDING-TOP: 1px
}
.rte-normal-menu {
	BORDER-BOTTOM: #999 1px dotted; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #f2f2f2; PADDING-LEFT: 1px; WIDTH: 100%; PADDING-RIGHT: 1px; CLEAR: all; CURSOR: hand; PADDING-TOP: 1px
}
.rte-menu-size {
	PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
IMG {
	MARGIN: 0px
}
.rte-selected-menu-color {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; WIDTH: 10px; BORDER-TOP: #ffffff 1px solid; CURSOR: hand; BORDER-RIGHT: #ffffff 1px solid
}
.rte-hover-menu-color {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; WIDTH: 10px; BORDER-TOP: #ffffff 1px solid; CURSOR: hand; BORDER-RIGHT: #ffffff 1px solid
}
.rte-normal-menu-color {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; WIDTH: 10px; BORDER-TOP: #ffffff 1px solid; CURSOR: hand; BORDER-RIGHT: #ffffff 1px solid
}
.rte-menu-color {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; WIDTH: 10px; BORDER-TOP: #ffffff 1px solid; CURSOR: hand; BORDER-RIGHT: #ffffff 1px solid
}
