/*-----------Block Level Elements--------------*/
 * {
     margin:0;
     padding:0;
 }
 
 a {
     text-decoration:none;
     color:#FFD100;
 }
 
 a:hover{
     text-decoration:underline;
	 color:#FFF;
 }
 
 body {
    background-color:#000000;
    font-family:Arial, sans-serif;
 }
 
 #page {
 	width:995px;
 	margin:0 auto;
    background-color:#252525;
 }
 
 #header {
 	width:100%;
    background:url(images/header.jpg);
    height:195px;
    position:relative;
	margin-bottom:2px;
 }

 .topad {
	width:995px;
	height:215px;
	float:left;
	background-color:#000000;
	padding-top:2px;
 }

 .search {
	float:left;
	text-align:left;
 }

 .ad {
	float:right;
	margin-right:3px;
 }

 #headerimg {
     position:absolute;
     top:45px;
     left:20px;
 }
 
 .description {
     color:#FFF;
     font-weight:bold;
 }
 
 #wrapper {
	 padding-top:2px;
 }
 
 #content {
 	float:left;
 	width:606px;
    padding:5px 8px;
 }
 
 .lsidebar {
 	width:208px;
    float:left;
    background-color:transparent;
 }
 
.lsidebar img {
   margin:0;
   padding:0;
   border:0 none;
}
 
 .rsidebar {
 	width:160px;
    float:left;
	padding:3px 1px 3px 2px;
    background-color:#313131;
 }
 
.rsidebar img {
   margin:0;
   padding:0;
   border:0 none;
}
 
 #footer {
 	width:100%;
 	clear:both;
    background-color:#131313;
    height:82px;
    position:relative;
 }
 
 /*--------------Header--------------*/
 
 #headerimg h1 {
     font-size:40px;
 }
 
 ul#top-navigation {
     position:absolute;
     top:274px;
     left:20px;
     font-size:25px;
     list-style-type:none;
 }
 
 ul#top-navigation li {
     display:inline;
     padding:0 10px;
 }
 
 ul#top-navigation li a {
     color:#20718b;
 }

 ul#top-search {
     position:absolute;
     top:159px;
     right:0;
     list-style-type:none;
 }

 ul.navi {
	padding:5px;
	margin:152px 0 0 -5px;
	list-style:none;
	background-color:transparent;
	float:left;
	clear:left;
}

 ul.navi li {
	float:left;
	list-style:none;
	background:url(images/menu_divider.gif) no-repeat top right;
}

 ul.navi li a {
	float:left;
	list-style:none;
	text-decoration:none;
	color:#ccc;
	padding:9px 14px 4px 0;
	margin:0 2px 0 1px;
	font:900 14px "Arial", Helvetica, sans-serif;
}

 ul.navi li a span {
	float:left;
	list-style:none;
	padding-right:15px;
	display:block;
	margin-top:-4px;
	height:24px;
}

 ul.navi li a:hover {
	color:#FFF;
	background:#555 url(images/menu-li-li-hover.gif) no-repeat top right;
	text-decoration:none;
	list-style:none;
}

 ul.navi li a:hover span {
}

 ul.navi li a.current {
}

 ul.navi li a.current span {
}

 ul.imagelist {
    font-size:10px;
	padding:2px;
	margin:5px 0 5px 8px;
	float:left;
	clear:none;
}

 ul.imagelist img{
	border:1px inset #ccc;
}

 ul.imagelist:hover img{

}

 ul.imagelist:hover{
	color:red; /* Dummy definition to overcome IE bug */
}

.gallery {
	width:130px;
	float:left;
	padding:2px;
}

.picture {
	float:left;
	margin-bottom:5px;
}

.title {
	float:left;
	width:134px;
	background-color:#313131;
	padding:1px;
	margin:0 0 5px 0;
}

 /*-------------Headings-------------*/
 h1, h2, h3, h4, h5, h6 {
     color:#FFF;
	 font-size:16px;
 }
 
 h1 {
 
 }
 
 h2 {

 }
 
 h3 {
 
 }
 
 h4 {

 }
 
 h5 {

 }
 
 /*-------------The Post-------------*/
 
 h1 a:hover, h1 a:visited, h1 a {
     color:#FF0000;
	 font-size:14px;
 }
 
 h2 a:hover, h2 a:visited, h2 a {
     color:#FF0000;
	 font-size:14px;
 }
 
 .newsupdates {
 	background-color:#313131;
 }
 
 .post {
     font-size:12px;
     color:#FFF;
     margin-bottom:15px;
 }
 
 .normaltext {
     font-size:12px;
     color:#FFF;
 }
 
 small.date {
     font-size:12px;
     color:#ccff00;
     font-weight:bold;
 }
 
 .post p {
     margin-bottom:5px;
 }
 
 .post a {
 
 }
 
 .post ul {
     padding-left:20px;
 }
 
 .post ol {
     padding-left:20px;
 }
 
 .post li {
 
 }
 
 .entry {
 
 }
 
 .entrytext .postmetadata {
 
 }
 
 .postmetadata alt {
 
 }
 
 .postmetadata a {
 
 }
 
 .navigation {

 }
 
 .alignleft {
     float:left;
 }
 
 .alignright {
     float:right;
 }
 
 .center {
 
 }
 
 .pagetitle {
 
 }
 
 blockquote {
     font-style:italic;
     padding:5px 10px 10px 25px;
     background:url(images/quote.png) no-repeat 5px 5px;
 }
 
 cite {
 
 }
 
 a img {

 }
 
 acronym, abbr {
 
 }
 
 /*--------------Left Sidebar------------*/
 
 .lsidebar ul {
     padding-left:2px;
     list-style-type:none;
     font-size:12px;
	 background-color:#313131;
     color:#FF0000;
 }
 
 .lsidebar ul h2 {
     color:#FFF;
	 padding:5px 0 5px 4px;
     margin-bottom:4px;
 }
 
 .lsidebar ul li {
 	 padding-left:0px;
     background-color:#313131;
     color:#FF0000;
     border-bottom:1px #252525 solid;
 }
 
 .lsidebar ul ul {
     list-style-type:none;
	 color:#FFF;
 }
 
 .lsidebar ul ul li {
     background:url(images/point.png) no-repeat;
	 padding:0 0 3px 12px;
	 line-height:130%;
 }
 
 .lsidebar ul ul ul {
 
 }
 
 .lsidebar a {
     color:#FFD100;
 }
 
 .lsidebar a:hover{
     text-decoration:underline;
	 color:#FFF;
 }
 
 /*--------------Right Sidebar------------*/

 .rsidebar ul {
     padding-left:0px;
     list-style-type:none;
     font-size:12px;
	 background-color:#313131;
     color:#FF0000;
 }
 
 .rsidebar ul h2 {
     color:#FFF;
	 padding:5px 0 5px 4px;
     margin-bottom:4px;
 }
 
 .rsidebar ul li {
 	 padding-left:0px;
     background-color:#313131;
     color:#FF0000;
     border-bottom:1px #252525 solid;
 }
 
 .rsidebar ul ul {
     list-style-type:none;
	 color:#FFF;
 }
 
 .rsidebar ul ul li {
     background:url(images/point.png) no-repeat;
	 padding-left:12px;
	 line-height:130%;
	 padding-bottom:3px;
 }
 
 .rsidebar ul ul ul {
 
 }
 
 .rsidebar a {
     color:#FFD100;
 }
 
 .rsidebar a:hover{
     text-decoration:underline;
	 color:#FFF;
 }

 /*--------------Comments--------------*/
 
 ol.commentlist {
     list-style-type:none;
     font-size:14px;
     color:#C0C0C0;
	 background-color:#252525;
     padding:5px;
 }
 
 ol.commentlist li cite.author, ol.commentlist li cite.author a {
     color:#FFD100;
     font-style:normal;
     font-weight:bold;
     margin-bottom:2px;
 }
 
 ol.commentlist li {
     margin-bottom:10px;
 }
 
 
 ol.commentlist li p {
     font-size:12px;
	 width:585px;
     padding:5px 5px 5px 8px;
	 background-color:#2C2C2C;
     border:1px solid #252525;
 }
 
 ol.commentlist li.alt {
 
 }
 
 ol.commentlist a {
 
 }
 
 small.commentmetadata {

 }
 
 #commentform p {
     margin:0 0 1px 0;
     font-size:12px;
     color:#C0C0C0;
 }
 
 #author, #email, #url, textarea#comment {
     border:1px solid #202020;
     background-color:#2C2C2C;
     padding:1px; 
	 margin-left:1px;
     font-size:12px;
     color:#808080;
 }
 
 textarea#comment {
     width:99%;
 }
 
 /*--------------Search Form-------------*/
 
#searchwrap {
float:right;
height:25px;
}

* + html #searchwrap {
}

#searchwrap input{
vertical-align:middle;
background:#FFFFFF;
color:#A3A3A3;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}

#searchwrap #s{
padding:3px;
margin:3px;
width:185px;
}

* + html #searchwrap #s {
margin:2px 3px 0 0;
}


}
<!--[if lte IE 7]>
<link rel="stylesheet" type="text/css" href="ie.css" />
<![endif]-->

.search input.box {
	background:url(images/search_bg.gif) no-repeat right bottom; /* Unique Input Box background image specifically for IE, and the background position must be aligned to the right*/
}
 /*-------------Footer------------------*/
 #footer p {
     position:absolute;
     top:20px;
     right:5px;
	 font-size:12px;
     color:#FFF;
     text-align:right;
 }
 
 #footer a {
     color:#FFF;
 }
 
 
 .clear {
     clear:both;
 }

 /*-------------Other------------------*/

 .paddingnavi {
     color:#FFF;
	 margin:10px 0 10px 0;	
	 text-align:center;
 }
 
 .pagenavi a, .pagenavi a:link {
	padding: 2px 4px 2px 4px; 
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 3px;
	margin-right: 3px;
	text-decoration: none;
	border: 1px solid #C0C0C0;
	color: #CCCCCC;
	background-color: #252525;	
 }
 
 .pagenavi a:visited {
	padding: 2px 4px 2px 4px; 
	margin-top: 10px;	
	margin-bottom: 10px;
	margin-left: 3px;
	margin-right: 3px;
	text-decoration: none;
	border: 1px solid #CCCCCC;
	color: #CCCCCC;
	background-color: #252525;
 }
 
 .pagenavi a:hover {	
	border: 1px solid #CCCCCC;
	color: #CCCCCC;
	background-color: #FF0000;
 }
 
 .pagenavi a:active {
	padding: 2px 4px 2px 4px; 
	margin-top: 10px;	
	margin-bottom: 10px;
	margin-left: 3px;
	margin-right: 3px;
	text-decoration: none;
	border: 1px solid #CCCCCC;
	color: #CCCCCC;
	background-color: #252525;
 }
 
 .pagenavi span.pages {
	padding: 2px 4px 2px 4px; 
	margin-top: 10px;	
	margin-bottom: 10px;
	margin-left: 3px;
	margin-right: 3px;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #252525;
 }
 
 .pagenavi span.current {
	padding: 2px 4px 2px 4px; 
	margin-top: 10px;	
	margin-bottom: 10px;
	margin-left: 3px;
	margin-right: 3px;
	border: 1px solid #CCCCCC;
	color: #CCCCCC;
	background-color: #595959;
 }
 
 .pagenavi span.extend' {
	padding: 2px 4px 2px 4px; 
	margin-top: 10px;	
	margin-bottom: 10px;
	margin-left: 3px;
	margin-right: 3px;	
	border: 1px solid #CCCCCC;
	color: #CCCCCC;
	background-color: #252525;
 }
 
 .catcenterads {
     color:#FFF;
	 margin:10px 0 10px 0;
 }
 
 .postlist {
     font-size:12px;
     color:#FFF;
	 background-color:#171717;
	 padding:6px;
	 margin-bottom:2px;
     border:1px solid #141414;
 }
 
 .catdescription {
     font-size:12px;
     color:#FFF;
 	 float:left;
 	 width:590px;
	 padding:5px;
	 margin-bottom:5px;
	 background-color:#171717;
 }
 
 .multicolumn {
     font-size:12px;
     color:#FFF;
 }
 
 .catlist {
     font-size:18px;
     color:#FFF;
	 background-color:#171717;
	 padding:6px;
	 margin-bottom:2px;
     border:1px solid #141414;
 }
 
 .postdesc {
     font-style:normal;
	 font-size:12px;
	 color:#FFF;
	 background-color:#313131;
     padding:5px;
     border:1px solid #202020;
	 margin-bottom:3px;
 }

 .drop {
box-shadow:0 5px 5px #111;
background:#333; 
border:1px solid #444; 
border-top:1px solid #000; 
display:none; 
padding:0 10px; 
position:absolute; 
margin-top:3px; 
text-align:left; 
z-index:99999;
 }

 .versiontab {
     font-weight:bold;
	 margin:0 1px 5px 1px;
 }
 
 .versiontab a {
     background-color:#666666;
	 padding:2px 7px 2px 7px;
     border:1px solid #000000;
 }
 
 .versiontab a:active {
     background-color:#171717;
	 padding:2px 7px 2px 7px;
     border:1px solid #000000;
 }
 
 .versiontab a:hover {
     background-color:#252525;
	 padding:2px 7px 2px 7px;
     border:1px solid #000000;
     text-decoration:none;
 }
 
 .tabpadding {
	 background-color:#313131;
	 padding:7px 6px 3px 6px;
 }
 
 .postcontent {
     font-style:normal;
	 font-size:12px;
	 background-color:#313131;
	 padding:3px 3px 1px 3px;
	 margin-bottom:5px;
 }
 
 .postcontent img {
   margin:0;
   padding:0;
   border:0 none;
}
 
 .paddingindex {
	 padding:2px;
 }
 
 .count {
font-size:14px;
color:#FFFFFF;
}

 .refreshpage {
	 background-color:#008080;
     padding: 5px;
     border: 1px solid #202020;
	 margin-bottom: 2px;
	 text-align:center;
}

 /*-------------Multi-Column------------------*/

.cat_col {
	width:280px;
	float:left;
	display:block;
	padding:5px;
	margin:0 5px 0 0;
	border:#000000;
}
	/* All LI elements */
	.cat_col li {
		clear:left;
		display:block;
		padding:3px;
		background-color:#313131;
		margin:5px;
		width:280px;
		border:#333;
	}

#cat-col-1 {
	/* CSS for first list only */
}
#cat-col-2 {
	/* CSS for second list only */
}
#cat-col-3 {
	/* CSS for third list only */
}

img#wpstats{display:none}

#featuredtop {
	width: 985;
	overflow:hidden;
	background:#313131;
	margin-bottom:3px;
	position:relative;
	height:200px;
	padding:5px;
}

#featuredtop .container { /*Do not change the name of class */
	position: absolute;
	width: 980px;
	height:200px;
	overflow:hidden;
	left: 8px;
}

#featuredtop ul{
	width:10000px;
	position: relative;
	list-style-type:none;
}

#featuredtop li{
	float:left;
	width:135px;
	padding:0 5px 0 0;
}

#featuredtop .thumb{
	width:135px;
	background:#fff;
	height:150px;
	border:1px solid #c5c5c5;
	padding:1px;
	margin:0 0 3px 0;
	overflow:hidden;
	text-align:center;
}

#featuredtop .info{
	width:135px;
	position:relative;
	background-color:#313131;
	border:1px solid #c5c5c5;
	padding:1px;
	overflow:hidden;
	height:auto !important;
	font-size:10px;
}

#mediabar .info p{
	font-size:10px;
	line-height:1.2em;
	font-weight:bold;
	padding:0 2px 0 2px;
color:#555;
overflow:hidden;
height:43px;
}

#featuredtop .previous_button { /*Do not change the name of class */
	width: 16px;
	height: 16px;
	background: url(images/prev.png) no-repeat;
}

#featuredtop .previous_button.disabled { /*Do not change the name of class */
	background: url(images/prev-disabled.png) no-repeat;
	cursor:default;
}

#featuredtop .next_button { /*Do not change the name of class */
	width: 16px;
	height: 16px;
	background: url(images/next.png) no-repeat;
}

#featuredtop .next_button.disabled { /*Do not change the name of class */
	background: url(images/next-disabled.png);
	cursor:default;
}

#featuredtop .mh2 {
	color:#FFF;
	font-size:16px;
	font-weight: bold;
}

#featuredtop .right {
	float:right;
	}

-->